@{
    ViewData["Title"] = "About";
}

<html>
    
    <head>
        <style>
            .card {

            width: 100%; 
            max-height: auto;
            margin: 0 auto;
            margin-right: 10px;
            margin-left: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            padding: 10px;
            }
        </style>
    </head>
    <body>
    <div class="col align-self-center">
        <div class="card">
            <center><h2>About Us</h2></center>
            <p>
                Beauty websites have become increasingly popular in recent years as people turn to the internet for advice on how to look and feel their best. These websites provide a wealth of information on topics such as skincare, makeup, hair care, and fashion.

                One of the benefits of beauty websites is that they provide a platform for sharing tips and tricks. Beauty bloggers and influencers often share their personal experiences with different products and techniques, providing valuable insights for their followers. Many websites also feature user reviews, allowing visitors to read about other people's experiences with a particular product or service.

                Another benefit of beauty websites is that they often provide tutorials and how-to guides. These can be especially helpful for people who are new to makeup or skincare and are looking for guidance on how to achieve a particular look or address a specific issue.

                In addition to tutorials and reviews, many beauty websites also offer product recommendations. These recommendations are often based on the specific needs of the individual, such as skin type or hair texture. This can be particularly useful for people who are looking for products that are tailored to their unique needs.

                Overall, beauty websites have become an invaluable resource for people who are looking to improve their appearance and feel more confident. With their wealth of information and expert advice, these websites are helping people around the world look and feel their best.
            </p>
        </div>

        <section>

            <br />
            <br />
            <center><h2>Our Team</h2></center>
            
                <div class="card-group">
                    <div class="card">
                        <img src="~/img/lf.jpg" />
                        <h2>Judul Kartu</h2>

                        <h6><a href="#">kategori</a></h6>
                    </div>
                    <div class="card">
                        <img src="~/img/lf.jpg" />
                        <h2>Judul Kartu</h2>

                        <h6><a href="#">kategori</a></h6>
                    </div>
                    <div class="card">
                        <img src="~/img/lf.jpg" />
                        <h2>Judul Kartu</h2>

                        <h6><a href="#">kategori</a></h6>
                    </div>
                    <div class="card">
                        <img src="~/img/lf.jpg" />
                        <h2>Judul Kartu</h2>

                        <h6><a href="#">kategori</a></h6>
                    </div>
                    <div class="card">
                        <img src="~/img/lf.jpg" />
                        <h2>Judul Kartu</h2>

                        <h6><a href="#">kategori</a></h6>
                    </div>
                </div>
            

        </section>
    </div>
    

    </body>
</html>