@{
    ViewData["Title"] = "Article";
}
<html>
<head>
    <style>

        img {
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <center>
        <h2>How to Create Perfect Eyebrows: A Step-by-Step Tutorial</h2>
    </center>
    <br />
    <br />
    <center><img src="~/img/5 langkah koreksi bentuk alis agar terlihat ideal _ dinarafi.jpg" width="50%" /></center>
    <br />
    <br />
    <div class="col align-self-center">

        <p>

            If you're looking to create perfect eyebrows, there are a few key steps to follow. Here's a step-by-step guide to help you achieve the look you're after.
            <br />
            <br />
            Step 1: Determine Your Eyebrow Shape

            The first step in creating perfect eyebrows is to determine your eyebrow shape. There are several factors to consider when deciding on the shape of your eyebrows, including your face shape and the natural arch of your brows. Look at photos of eyebrows that you like and try to emulate the shape.
            <br />
            <br />
            Step 2: Trim Your Eyebrows

            Once you've determined the shape of your eyebrows, it's time to trim them. Use a small pair of scissors to trim any long hairs that are sticking out of the natural shape of your brows. This will help to create a more polished look.
            <br />
            <br />
            Step 3: Outline Your Brows

            Using an eyebrow pencil that matches the color of your eyebrows, outline the shape that you want to create. Be sure to follow the natural shape of your brows and fill in any sparse areas.
            <br />
            <br />
            Step 4: Fill in Your Brows

            Using a brow powder or pomade, fill in your eyebrows. Use small, short strokes to create a natural look and avoid making them too dark or thick.
            <br />
            <br />
            Step 5: Blend and Brush

            After filling in your eyebrows, use a spoolie brush to blend the product and create a natural look. Brush the hairs upwards and outwards to help set them in place.
            <br />
            <br />
            Step 6: Set Your Brows

            Finally, use a clear brow gel to set your eyebrows in place. This will help to ensure that they stay put all day long.

            By following these six simple steps, you can create perfect eyebrows that frame your face and enhance your natural beauty.
        </p>
    </div>
</body>
</html>